*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@mixin flexCenter(){
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    @include flexCenter();

    section{
        width: 50%;
        height: 50%;
        @include flexCenter();
        background-color: rgb(180, 183, 185);

        h1{
            background-color: lightcoral;
        }
    }
}